
.sidebar-wrapper {
    z-index: 999;
    position: absolute;
    height: 100vh;
    width: 10vw;
    overflow-x: hidden;
    background: #222222;
    margin-top: 40px;
}

.content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    margin-top: 40px;
    margin-left: 10vw;

}

.n-text {
    color: white;
    font-weight: bold;
}

.sidebar-nav {
    height: 90vh;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}