//Styling for the sidebar
.sidebar-wrapper {
  z-index: 999;
  position: relative;
  float: left;
  height: 100vh;
  overflow-x: hidden;
  background: $color-fanatics-blue;
  margin-top: 50px;
  text-align: -webkit-center;

  .sidebar-nav {
    height: 100vh;
    display: table-cell;
    vertical-align: middle;
    list-style-type: none;
  }

  border-right: 1px solid rgba(0,0,0,.2);
}

//Page Content Wrapper
.content-wrapper {
  position: relative;
  float: left;
}

nav {
    border-bottom: 1px solid rgba(0,0,0,.2);
}


//Navbar text
.n-text {
  @include bv-text-setup("Nexa Bold", 400, $color-white);
  @include font-size(18px);
  @include hover-effect($color-fanatics-red, .5s);
}