.table-scroll {
  position: relative;
  height: 400px;
  overflow: auto;

  @include breakpoint-height(700px) {
    max-height: 250px;
  }
}

.table-overflow-y {
  display: block;
}

.table-overflow-x {
  display: block;
}

.table-scroll-large {
  position: relative;
  height: 85vh;
  width: 85vw;
  overflow: auto;
}